[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
psycopg2 = "*"
mysqlclient = "*"

[dev-packages]
black = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.7"
